* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-VariableFont_wght.ttf");
  font-style: normal;
  font-weight: 400 800;
}

@font-face {
  font-family: Eczar;
  src: url("../fonts/Eczar-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background: #231F20;
  padding: 15px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
}

header .header__burger-icon {
  display: none;
}

header .header__logo {
  height: 24px;
  width: 181px;
}

header .header__cart-icon {
  height: 20px;
  margin-left: auto;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

header .header__search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 36px;
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
}

header .header__search-bar .search-bar__filter {
  background: #F1F1F1;
  -webkit-box-shadow: inset -1px 0px 0px #E4E4E4;
          box-shadow: inset -1px 0px 0px #E4E4E4;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  border-radius: 2px 0 0 2px;
  padding: 10px 15px;
  padding-right: 2rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
}

header .header__search-bar .search-bar__text {
  border: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.5%;
  padding-left: 15px;
  width: 100%;
}

header .header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2px;
}

header .header__login .login__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

header .header__login .login__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;
  padding-right: 32px;
}

.input-btn {
  background-color: #AE1B21;
  border: 0;
  border-radius: 0 2px 2px 0;
  padding: 2px 24px 0 24px;
}

.input-btn--email {
  padding-top: 9px;
  padding-bottom: 9px;
  height: 100%;
}

nav {
  background-color: #AE1B21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12%;
}

nav .nav__link {
  padding: 16px;
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
}

nav .nav__link--first {
  padding-left: 0;
}

aside {
  background-image: url("../assets/aside.png");
  background-size: cover;
  width: 100%;
  height: 453px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

aside .aside__gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#231F20));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #231F20 100%);
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0;
  bottom: 0px;
}

aside .aside-text {
  width: 540px;
  margin-left: 12%;
  position: relative;
  z-index: 1;
}

aside .aside-text .aside-text__title {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  color: white;
  margin-bottom: 10px;
  -webkit-filter: drop-shadow(2px 3px 0px rgba(35, 31, 32, 0.5));
          filter: drop-shadow(2px 3px 0px rgba(35, 31, 32, 0.5));
}

aside .aside-text .aside-text__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 30px;
  -webkit-filter: drop-shadow(2px 3px 0px rgba(35, 31, 32, 0.5));
          filter: drop-shadow(2px 3px 0px rgba(35, 31, 32, 0.5));
}

.btn {
  background-color: #AE1B21;
  border: 0;
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 16px;
  border-radius: 2px;
}

.btn--right {
  margin-left: auto;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.dots--align-self {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 40px;
}

.dots .dots__dot {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.3;
  border-radius: 50%;
}

.dots .dots__dot--selected {
  opacity: 1;
}

main {
  background: linear-gradient(0deg, rgba(35, 31, 32, 0.7), rgba(35, 31, 32, 0.7)), linear-gradient(175.6deg, #231F20 10.94%, #94171C 100%);
  width: 100%;
  padding: 0 12% 69px 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section__head {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 30px;
  margin-bottom: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

main .section__head .section__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 45px;
  color: white;
}

main .section__head .section__title--uppercase {
  text-transform: uppercase;
}

main .section__head .section__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #AE1B21;
}

main .cards-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: normal;
      align-self: normal;
  margin-bottom: 30px;
}

main .cards-section .card {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

main .cards-section .card .card-img {
  background-color: white;
  padding: 16px;
  width: 255px;
  border-radius: 2px 2px 0 0;
}

main .cards-section .card .card-text {
  background-color: #22262E;
  padding: 16px 16px 18px 16px;
  width: 100%;
}

main .cards-section .card .card-text .card-text__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

main .cards-section .card .card-text .card-text__type {
  margin-top: 26px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: white;
  opacity: 0.6;
}

main .cards-section .card .card-footer {
  background-color: #313439;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 16px 10px 16px;
  border-radius: 0 0 2px 2px;
}

main .cards-section .card .card-footer .card-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cards-section .card .card-footer .card-footer__icons .check-icon_full {
  width: 20px;
  height: 20px;
  margin: 2px;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__check-icon {
  position: relative;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__check-icon .check-icon__border {
  opacity: 0.6;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__check-icon .check-icon__full {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.2;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__favorite-icon {
  position: relative;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__favorite-icon .favorite-icon__border {
  opacity: 0.6;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__favorite-icon .favorite-icon__full-white {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0.2;
}

main .cards-section .card .card-footer .card-footer__icons .card-footer__favorite-icon .favorite-icon__full-white--selected {
  opacity: 1;
  position: initial;
}

main .cards-section .card .card-footer .card-footer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 2px;
}

main .cards-section .card .card-footer .card-footer__price .card__old-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: white;
  opacity: 0.6;
  text-decoration: line-through;
}

main .cards-section .card .card-footer .card-footer__price .card__new-price {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: white;
}

main .articles-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 30px;
}

main .articles-section .article-card {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .articles-section .article-card .article-card__img {
  border-radius: 2px 2px 0 0;
}

main .articles-section .article-card .article-card__txt {
  background-color: #22262E;
  border-radius: 0px 0px 2px 2px;
  padding: 16px;
}

main .articles-section .article-card .article-card__txt .article-card__tag {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: white;
  opacity: 0.6;
  margin-bottom: 20px;
}

main .articles-section .article-card .article-card__txt .article-card__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-bottom: 20px;
}

main .articles-section .article-card .article-card__txt .article-card__body {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.5%;
  color: white;
}

main .articles-section .article-card .article-card__txt .article-card__date {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: white;
  opacity: 0.6;
  margin-top: 12px;
  margin-left: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

main .sets-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -ms-flex-item-align: normal;
      align-self: normal;
}

main .sets-section .main-set-card {
  border: 2px solid white;
  border-radius: 4px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

main .sets-section .set-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

main .sets-section .set-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .sets-section .set-card--hidden {
  display: none;
}

main .sets-section .set-card .set-card__img {
  border-radius: 2px 2px 0 0;
}

main .sets-section .set-card .set-card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #22262E;
  padding: 15px;
  border-radius: 0 0 2px 2px;
}

main .sets-section .set-card .set-card__body .set-card__txt {
  margin-left: 10px;
}

main .sets-section .set-card .set-card__body .set-card__txt .set-card__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-bottom: 5px;
}

main .sets-section .set-card .set-card__body .set-card__txt .set-card__date {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: white;
  opacity: 0.6;
}

main .event-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: normal;
      align-self: normal;
}

main .event-section .event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .event-section .event-card .event-card__img {
  border-radius: 2px 2px 0 0;
}

main .event-section .event-card .event-card__txt {
  background-color: #22262E;
  padding: 16px;
  border-radius: 0 0 2px 2px;
}

main .event-section .event-card .event-card__txt .event-card__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;
  margin-bottom: 5px;
}

main .event-section .event-card .event-card__txt .event-card__subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: white;
  opacity: 0.6;
  text-transform: uppercase;
}

main .newsletter {
  padding-top: 170px;
  text-align: center;
  width: 64%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: white;
}

.newsletter__body {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: white;
}

.email-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.email-bar--footer {
  margin-top: 20px;
  width: 100%;
}

.email-bar .email-bar__txt {
  border: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 149.5%;
  border-radius: 2px 0 0 2px;
  padding: 8px 15px 7px 15px;
  width: 100%;
}

footer {
  border-top: 3px solid #AE1B21;
  background-color: #231F20;
  padding: 60px 12% 60px 12%;
}

footer .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .top-footer .newsletter-footer {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

footer .top-footer .link-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
}

footer .top-footer .link-list-container .footer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

footer .bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

footer .bottom-footer .bottom-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: white;
  opacity: 0.6;
  gap: 23px;
}

footer .bottom-footer .bottom-footer__link a {
  text-decoration: underline;
}

footer .bottom-footer .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

footer .bottom-footer .social-icons img {
  height: 20px;
}

@media (max-width: 400px) {
  header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 15px;
    row-gap: 20px;
  }
  header .header__burger-icon {
    display: initial;
  }
  header .header__logo {
    margin-left: auto;
    margin-right: auto;
  }
  header .header__login {
    display: none;
  }
  header .header__cart-icon {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    margin-left: initial;
  }
  header .header__search-bar {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
  }
  header .header__search-bar .search-bar__filter {
    display: none;
  }
  header .header__search-bar .search-bar__text {
    padding: 8px 15px 7px 15px;
    border-radius: 2px 0 0 2px;
  }
  .input-btn {
    padding-left: 9px;
    padding-right: 9px;
  }
  .input-btn--email {
    padding-left: 23px;
    padding-right: 21px;
  }
  nav {
    padding-left: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
  }
  nav .nav__link {
    white-space: nowrap;
  }
  aside {
    background-image: url("..//assets/aside-mobile.png");
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  aside .aside-text {
    margin-left: 15px;
    margin-top: 20px;
    width: auto;
  }
  aside .aside-text .aside-text__title {
    font-size: 30px;
  }
  aside .aside__gradient {
    opacity: 0.5;
    height: 100%;
  }
  aside .dots--align-self {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 60px;
  }
  main {
    padding: 0 0 69px 15px;
  }
  main .section__head {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  main .section__head--hidden {
    display: none;
  }
  main .section__head .section__title {
    font-size: 30px;
    line-height: 35px;
  }
  main .cards-section {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: scroll;
  }
  main .cards-section--hidden {
    display: none;
  }
  main .cards-section .card {
    margin-right: 30px;
  }
  main .cards-section::-webkit-scrollbar {
    display: none;
  }
  main .dots {
    display: none;
  }
  main .section__head .section__title--uppercase {
    text-transform: initial;
  }
  main .articles-section {
    margin-right: auto;
  }
  main .sets-section .main-set-card--hidden {
    display: none;
  }
  main .sets-section .set-cards::-webkit-scrollbar {
    display: none;
  }
  main .sets-section .set-cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main .sets-section .set-cards .set-card {
    margin-right: 30px;
  }
  main .sets-section .set-cards .set-card--hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  main .sets-section .set-cards .set-card .set-card__img {
    height: 200px;
    min-width: 265px;
  }
  main .event-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-right: 15px;
  }
  main .newsletter {
    padding-top: 120px;
    width: initial;
    margin-right: 15px;
  }
  .email-bar {
    width: 100%;
  }
  footer {
    padding: 30px 15px;
  }
  footer .top-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .top-footer .newsletter-footer {
    width: 100%;
  }
  footer .top-footer .link-list-container {
    margin-top: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  footer .bottom-footer {
    margin-top: 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 52px;
    text-align: center;
  }
  footer .bottom-footer .bottom-footer__link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .bottom-footer .bottom-footer__link p {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
